{% extends 'base.html' %}

{% block content %}

<h2 id="pageTitle">
  About Blog
</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p> This is a very simple blogging app made using Flask and based off <a href="https://www.youtube.com/watch?v=XHGpPCYmPvI&t=1658s&ab_channel=PrettyPrinted">this tutorial</a></p>
      <p> It can be run on any device that has Python 3.6, and was developed using Python 3.6.2. </p>
      <p> The required Python libraries are Flask, flask_bootstrap, flask_sqlalchemy, and flask_wtf. With these libraries installed and the blog
        files installed, a server can be run by running website.py </p>
    </div>
  </div>
</div>

{% endblock %}
