{% extends 'base.html' %}

{% block content %}

<script src=" {{ url_for('static', filename='scripting.js') }} "></script>

<h2 id="pageTitle">
  {{ post.title }}
</h2>

<h4 id="pageTitle" class="text-muted">
  <a href="{{ url_for('topic', topic = post.topic) }}"><strong> {{ post.topic }} </strong></a>
  <br>
  <small> Posted by:
    <a href="{{ url_for('profile', username = post.author) }}">{{ post.author }}</a>
    on {{ post.date_posted.strftime('%B %d, %Y') }} </small>
</h4>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" id="postContent">
      {{ post.content }}
    </div>
    <br>
  </div>
</div>

{% if session['username'] %}
    <div class="buttons">
      <a class="btn btn-success" onclick="collapseItem(comment)">Comment</a>
  {% if session['username'] == post.author %}

      <a href="{{ url_for('update', post_id = post.id) }}" class="btn btn-warning" id="updatePost" role="button">Update Post</a>
      <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Post</a>
    </div>

    <!-- Based off of example from https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div id = "deleteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure you want to delete this post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <p>This action is not reversible</p>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('delete', post_id = post.id) }}" class="btn btn-danger" id="deletePost">Delete Post</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

<br>
<form id="comment" class="form-comment" method="POST" action="{{ url_for('post', post_id = post.id )}}">
    <h2 class="form-signin-heading">Leave a comment:</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.content) }}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% endif %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    {% for comment in post.getComments() recursive %}
          <div class="reply" style="margin-left: {{ (loop.depth-1) * 50 }}px">
            <h4 class="post-title">
              {{ comment.getPoints() }}
              <button class="btn btn-sm" onclick='newScore(1, {{ comment.id }})'>UP</button>
              <button class="btn btn-sm" onclick='newScore(-1, {{ comment.id }})'>DOWN</button>
              <a href="{{ url_for('profile', username = comment.author) }}"><small>{{ comment.author }}</small></a>
              <small><i>{{ comment.timeFormat() }}</i></small>
            </h4>
            <p class="post-meta"> {{ comment.content }} </p>

            {% if session.username %}
            <div class="post-footer">

              <button class="btn btn-success" onclick='collapseItem("#{{ comment.id }}")'>Reply</button>

              {% if session.username == comment.author %}
              <a href="{{ url_for('deleteComment', post_id = post.id, comment_id=comment.id) }}" class="btn btn-danger" id="deletePost">Delete</a>
              {% endif %}

            </div>
            {% endif %}

            <!-- Comment reply form -->
            <div class="replyForm"id="{{ comment.id }}">
              <form class="form-reply" method="POST" action="{{ url_for('post', post_id = comment.post, parent = comment.id )}}">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_field(replyForm.content) }}
                  <br>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Reply</button>
              </form>
            </div>
          </div>
          <hr>
          {% if comment.getComments() %}
            {{ loop(comment.getComments()) }}
          {% endif %}

    {% endfor %}
    </div>
  </div>
</div>



{% endblock %}
