{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col"></div>
  <div class="col">
    <h2 id="pageTitle">
      Search Results
    </h2>
  </div>

  <div class="col">
    <div class="search">
      <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.search) }}
        <button type="submit" class="btn btn-sm" id="search">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container" id="posts">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    {% for result in results %}
      <div class="post-preview">
        <a href="{{ url_for('post', post_id=result.id) }}">
          <h2 class="post-title">
            {{ result.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ result.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="{{ url_for('profile', username = result.author) }}">{{ result.author }}</a>
          on {{ result.date_posted.strftime('%B %d, %Y') }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
