{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col"></div>
  <div class="col">
    <h2 id="pageTitle">
      Topic: {{topic}}
    </h2>
  </div>

  <div class="col">
    <div class="search">
      <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.search) }}
        <button type="submit" class="btn btn-sm" id="search">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container" id="posts">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    {% for post in posts %}
      <div class="post-preview">
        <a href="{{ url_for('post', post_id=post.id) }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
        </a>
        <h3 class="post-subtitle">
          <a href="{{ url_for('topic', topic = post.topic) }}"><strong> {{ post.topic }} </strong></a>
        </h3>

        <p class="post-meta">Posted by
          <a href="{{ url_for('profile', username = post.author) }}">{{ post.author }}</a>
          on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
